@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Rules */

/* * {
    border: 1px solid red;
} */

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    margin-bottom: 16px;
}

/* Fonts */

h1, h2, h3, h4, h5, h6, .btn {
    font-family: "Fredoka", sans-serif;
    color: #381A46;
    margin-bottom: 0px;
    text-transform: uppercase;
}

p {
    font-family: "Prompt", sans-serif;
    color: #381A46;
}

a {
    color: #381A46;
    text-decoration: none;
}

a:hover {
    color: #30C5FF;
}

/* Color */

#hero {
    background-color: #30C5FF;
}

input { 
    caret-color: #381A46;
}

.input-radio {
    accent-color: #381A46;
}

/* Sections*/

#section-policies {
    background-color: #E4B7E5;
}

#section-footer {
    background-color: #381A46;
    color: #EEEEA2;
}

footer h5,
footer p {
    color: #EEEEA2;
}

footer a {
    color: #21F383;
}

/* Cards */

.card-1 img {
    background-color: #30C5FF;
}

.card-2 img {
    background-color: #E4B7E5;
}

.card-3 img {
    background-color: #21F383;
}

.card-body {
    background-color: #EEEEA2;
}

/* Buttons */

.btn-purple {
    background-color: #381A46;
    color: #21F383;
}

.btn-purple a {
    color: #21F383;
}

.btn-green, 
.btn-footer {
    background-color: #21F383;
}


.btn-pink {
    background-color: #E4B7E5;
}

.dropdown-toggle {
    width: 100%;
}

.dropdown-toggle a:hover {
    color: #30C5FF;
}

.btn:hover {
    color: #30C5FF;
    background-color: #381A46;
    
}

.btn a:hover {
    color: #30C5FF;
}

.btn-footer:hover {
    color: #381A46;
    background-color: #30C5FF;
}

.btn-footer a:hover {
    color: #381A46;
}

/* Media Query -  */
@media (min-width: 576px) { }

/* Media Query - Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Media Query - Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }


.navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
  }
  
  .navbar-toggler-icon {
    font-size: 1.5rem;
    color: #333; /* Adjust color as needed */
  }
  
  @media (max-width: 768px) {
    /* Collapse the navbar on smaller screens */
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-nav .nav-link {
      padding: 1rem 0.5rem;
    }
  }