@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Root */
:root {
  --blue: #30c5ff;
  --green: #21f383;
  --pink: #e4b7e5;
  --purple: #381a46;
  --yellow: #eeeea2;
}

/* Base styles */
body {
  margin-top: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  color: var(--purple);
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  margin-bottom: 16px;
}

input {
  caret-color: var(--purple);
}

.input-radio {
  accent-color: var(--purple);
}

/* Fonts */
.heading {
  font-family: "Fredoka", sans-serif;
  color: var(--purple);
  margin: 0;
  text-transform: uppercase;
}

.btn {
  font-family: "Fredoka", sans-serif;
  color: var(--purple);
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: 500;
}

a {
  color: var(--purple);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}

/* Sections*/
#hero {
  background-color: var(--blue);
  margin-top: 72px;
}

.section-img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#section-policies {
  background-color: var(--pink);
}

#section-footer {
  background-color: var(--purple);
  color: var(--yellow);
}

footer a {
  color: var(--green);
}

/* Cards */
.card {
  min-width: 300px;
}

.card-body {
  background-color: var(--yellow);
}

.card-1 img {
  background-color: var(--blue);
}

.card-2 img {
  background-color: var(--pink);
}

.card-3 img {
  background-color: var(--green);
}

/* Buttons */
.btn-purple {
  background-color: var(--purple);
  color: var(--green);
}

.btn-purple a {
  color: var(--green);
}

.btn-green,
.btn-footer {
  background-color: var(--green);
}

.btn-pink {
  background-color: var(--pink);
}

.dropdown-toggle {
  width: 100%;
}

.btn:hover {
  color: var(--blue);
  background-color: var(--purple);
}

.btn-footer:hover {
  color: var(--purple);
  background-color: var(--blue);
}

.btn-social {
  color: var(--green);
}
